{% extends 'base.html' %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <label for="id_username">Username</label>
        {{ form.username }}
        {{ form.username.errors }}
        <label for="id_email">Email</label>
        {{ form.email }}
        {{ form.email.errors }}
        <label for="id_password1">Password</label>
        {{ form.password1 }}
        {{ form.password1.errors }}
        <label for="id_password2">Confirm Password</label>
        {{ form.password2 }}
        {{ form.password2.errors}}
        <button type="submit">Submit</button>
    </form>
{% endblock %}