{% extends 'base.html' %}

{% block content %}
    <p>Create New Post</p>
    <form method="POST">
        {% csrf_token %}
        <label for="id_title">Title</label>
        {{ form.title }}
        {{ form.title.errors }}
        <label for="id_content">Content</label>
        {{ form.content }}
        {{ form.content.errors }}
        <label for="id_tags">Tags</label>
        {{ form.tags }}
        {{ form.tags.errors }}
        <button type="submit" name="save_draft">Save as Draft</button>
        <button type="submit" name="publish">Publish Now</button>
    </form>
{% endblock %}
